extends layout

block content
	div#info
	canvas#demoCanvas(width="800" height="608") alternate content
		
	script(src="/socket.io/socket.io.js")	
	script(src="js/keyboard.js")
	script(data-main="js/config.js" src="js/require.js") 